PROJECT_NAME= HR SERVICE LOCAL
DEBUG=True
SECRET_KEY=123456
SQL_DATABASE_URL=postgresql+psycopg2://hr_service:hr_service@localhost:5432/hr_service
TESTING_SQL_DATABASE_URL=postgresql+psycopg2://hr_service_testing:hr_service_testing@localhost:5432/hr_service_testing
PREFIX=/hr-service
TEKO_SERVICE_TOKEN='123'
DIGI_SERVICE_TOKEN='123'
DOCKER_APP_PORT=8050

# Minio - Upload file ở VNPAY cloud
MINIO_PORT=9002
S3_ENDPOINT=localhost:9002
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minio1234
BUCKET_NAME=hr-service

IAM_SERVICE_URL=https://oauth.dgl-dev.tekoapis.net
AUTHENTICATION_SERVICE=https://oauth.dgl-dev.tekoapis.net

SALE_MANAGER_ID=36
SALE_ADMIN_ID=35
SALE_LEADER_ID=34
SALE_ID=33
ADMINISTRATOR_ID=2
LOCATION_ADMINISTRATOR=4 # Nếu location không gán với sale-admin thì trả về mặc định Admin này

DEPLOYMENT_ENVIRONEMT=''    # Phân biệt đang build ở hạ tầng Teko hay VNPAY

# GCS - Upload file ở Teko cloud
GOOGLE_BUCKET_NAME = ''
GOOGLE_APPLICATION_CREDENTIALS_CONTENT = './hazel-goal-317908-1022652b4a20.json'

ENVIRONMENT_NAME='local'
APM_SERVER_URL="http://localhost:8200"
APM_SERVICE_NAME="HR SERVICE CORE"
APM_SECRET_TOKEN=
