SQLALCHEMY_DATABASE_URL = 'postgresql+psycopg2://db_user:secret123@localhost:5432/fastapi_base_testing'
SECRET_KEY = 12345678
JIRA_URL=https://jira.teko.vn
JIRA_USER=
JIRA_PASSWORD=
JIRA_PROJECT_KEY=O2OSTAFF